body {
	font-family: 'Lato', sans-serif;
	background: #ecf0f1;
}

.post {
	margin-top: 10px;
	margin-bottom: 20px;
}

.post-dp {
	border: 1px solid #ecf0f1;
	margin-top: 15px;
}

.org-name{
	margin-bottom: -5px;
}

.org-name h4{
	padding-left: 10px;
	font-size: 16px;
	color: #3498db;
	font-weight: 700;
}

.datetime {
	margin-top: 20px;
}

.post-left p{

	font-size: 12px;
}

.post-right {
	padding: 10px;
	margin-bottom: 20px;
}

.post-right hr{
	margin: 15px 0px !Important;
}

.post-right p{
	text-align: justify;
	padding: 0px 10px;
	font-size: 14px;
	line-height: 18px;
}

.post-banner {
	margin-top: 25px;
	margin-bottom: 5px;
}

.join {
	margin-bottom: 60px;
}
.attendance-list {
	padding: 0px 10px;
}
.attendance-list h5{
	color: #3498db;
}

.feed {

}